@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");

.titleheader {
   text-align: -webkit-center;
   width: 100%;
   color: black;
   font-family: "Major Mono Display", monospace;
   font-size: 60px;
}
