@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap"); 
.titleheader{
    margin-left: 40%;
    text-align: center;
    font-family:'Major Mono Display';
    font-size: 30px;
    line-height: 25px;
    font-weight: normal;
    color:black;
    top:5px;
    padding-bottom:20px;
    position:absolute;
}