@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap"); 
.header{
    text-align: center;
    font-family:'Major Mono Display', monospace;
   
    
    color:black;
   
}