.myinfo{
    
    background-color: lightgrey;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    top: 220px;
    
    font-size: 30px;
    line-height: 260%;
    
    
    position: relative;
    
}