@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap%22");

/* =======================================
My Trips - entitre component container 
========================================*/
.myTrip_container {
    background-color: lightgray;
    padding: 2px;
    font-family: 'Mono Display', monospace;
    height: 75vh;
}

/* Header for My Trips component */
.myTrip_header {
    padding: 3px;
    margin: 2px;
    text-align: center;
    font-family: 'Major Mono Display', monospace;
}

/* =======================================
My Trips - container for the itemized numbered trips container and the trips details container
========================================*/
.myTrip_overview {
    padding: 2px;
    margin: 4px 2px 2px 2px;
    display: flex;
    flex-direction: row;
}

/* Trip Details container section */
.trip_details {
    background-color: white;
    padding: 2px;
    margin: 2px;
    width: 85vw;
}

.myTrips_tableOverview {
    text-align: left;
    font-weight: bold;
    font-size: large;
    background-color: wheat;
}

.tripDetails_table {
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
}

.trip_listItems {
    padding: 2px;
    margin: 2px;
    width: 15vw;
    display: flex;
    flex-direction: column;
}

.trip_item {
    border-bottom: 1px dotted black;
}

.trip_btn {
    margin: 2px;
    background-color: aqua;
    border-radius: 25px;
    font-weight: bold;
}

table {
    width: 100%;
}

td.location {
    width: 35%;
    text-align: left;
}

td.dates {
    width: 30%;
    text-align: left;
}

/* td.notes {

} */